// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Todo item color panel
$todo-item-color-orange: #ffd8a8;
$todo-item-color-yellow: #ffec99;
$todo-item-color-lime: #d8f5a2;
$todo-item-color-green: #b2f2bb;
$todo-item-color-teal: #96f2d7;
$todo-item-color-cyan: #99e9f2;
$todo-item-color-blue: #a5d8ff;
$todo-item-color-indigo: #bac8ff;
$todo-item-color-violet: #d0bfff;
$todo-item-color-grape: #eebefa;
$todo-item-color-pink: #fcc2d7;
$todo-item-color-red: #ffc9c9;
$todo-item-color-grey: #e9ecef;
